.container-compras-bg {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    height: 1000px;
}



.carrinho-titulo {
    text-align: center;
}

.conteudo-tipo img {
    width: 250px;
    border-radius: 2px;
}

.container-componentes {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
    margin: 20px;
    padding: 20px;
    background: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
}

.container-info-carrinho {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 250px;
}

.conteudo-info {
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    
}

.conteudo-info p:first-child {
    color: #666;
    margin-bottom: 10px;
}

.conteudo-input {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.conteudo-input input{
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid black;
    text-align: center;
    background: #fff;
    
}

.conteudo-input p:first-child {
    color: #666;

}



.carrinho-remover button{
    max-width: max-content;
    padding: 10px 15px;
    cursor: pointer;
    background: #080808;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.botao-finalizar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 25px;
    cursor: pointer;
    background: #080808;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}

.quantidade-info {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-card {
    display: flex;
    flex-direction: column;

}

.cart-total-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

@media (max-width: 900px) {
    .container-componentes {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 500px) {
    .conteudo-input {
        width: 200px;
    }

    .conteudo-info {
        width: 200px;
    }

    .quantidade-info {
        width: 200px;
    }
}







  
  