.footer-bg {
    display: flex;
    width: 100%;
    height: 160px;
    background: #111111;  
}

.footer-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 1200px;
    margin: 0 auto;
    color: white;
}

.footer-menu li { 
    margin-bottom: 10px;
}

.footer-menu2 li {  
    margin-bottom: 10px;
}


.footer-sub a {
    color: white;
}

@media (max-width: 800px) {
    .footer-sub {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .footer-bg {
        font-size: 0.89rem;
    }
}