.container-produtos {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    
}

.container-conteudo {
    max-width: 1400px;
}

.menu-img img {
    max-width: 285px;
}

.menu-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.titulo-bloco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: white;
    border-radius: 0px 0px 2px 2px;
    margin-bottom: 10px;
    color: #111111;
    
} 

.titulo-bloco h3 {
    margin-top: 7px;
    margin-bottom: 15px;
    font-weight: lighter;
}
.titulo-bloco p:nth-child(2) {
    margin-bottom: 7px;
    font-weight: bolder;
    font-size: 1.2rem;
    
  
}

.titulo-bloco p {
    margin-bottom: 7px;
    font-weight: lighter;
    font-size: 0.89rem;
    
  
}


.titulo-bloco a { 
    color: #111111;
    padding: 10px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 7px;
    text-align: center;
}

.titulo-bloco a:hover { 
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
} 

@media (max-width: 700px) {
    .menu-img  {
        width: 380px;
        display: flex;
        justify-content: left;
        flex-wrap: nowrap; 
        overflow-X: auto;
        gap: 10px;
        
    }
    .menu-img img{
        width: 250px;
        object-fit: cover;
        
    } 
    .titulo-bloco p:nth-child(2) {
        margin-bottom: 7px;
        font-weight: bolder;
        font-size: 1.1rem;
        
      
    }
    .titulo-bloco a { 
        padding: 7px;
        
    }

    
}

@media (max-width: 400px) {
    .menu-img  {
        width: 300px;
        gap: 7px;
    }
    .menu-img img{
        width: 180px;
        object-fit: cover;
    } 

    .titulo-bloco p:nth-child(2) {
        margin-bottom: 7px;
        font-weight: bolder;
        font-size: 0.95rem;
        
      
    }
    .titulo-bloco a { 
        padding: 5px;
        
    }
    .titulo-bloco h3 {
        margin-top: 7px;
        margin-bottom: 10px;
        font-weight: lighter;
        font-size: 1rem;
    }

   
    
}



