@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fira Sans", Arial, sans-serif;
    
}

body {
    background: #FFFFFF;
}

.header-top {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.header-top a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #3f3f3f;
    font-size: 0.89rem;
    padding: 0px 10px;
       
}

.header-top a:hover {
    color: black;
}

.header-top img {
    width: 30px;
    margin: 7px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
    
}

.menu a {
    flex-wrap: wrap;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;

    text-decoration: none;
    list-style: none;
    color: black;
}

ul {
    list-style: none;
}


.input-buscar input {
    width: 150px;
    height: 25px;
    border: solid #111111 2px;
    border-radius: 5px;
    padding-left: 25px;
    background: url("img/pesquisar.svg");
    background-repeat: no-repeat;   
    background-size: 20px;
    background-position: 5px;
}

.pesquisar img {
    width: 15px;
    height: 15px;
}

@media (max-width: 900px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-bottom: 10px;
    }

    .menu {
        font-size: 1.2rem;
    }

    .input-buscar input {
        display: none;
    }

    .menu a {
        flex-wrap: wrap;
        padding: 10px;
        
    }

    .titulo {
        margin-bottom: 10px;
    }
    
    .header-top {
        max-width: 700px;
        margin: 0 auto;
        padding: 10px 20px 0px 20px;
    }
}

@media (max-width: 600px) {
    .header {
        padding-bottom: 15px;
    }

    .menu {
        font-size: 0.90rem;
    }

}

@media (max-width: 400px) {
    .header {
        padding-bottom: 10px;
    }

    .menu {
        font-size: 0.75rem;
    }
}

.main {
    background-image: url("img/nikes5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    max-width: 1200px;
    height: 100px;
    padding: 20px 40px;
    margin: 0 auto;
} 

img {
    width: 100%;
    display: block;

}

.nike-bg {
    display: flex;
    max-width: 100vw;
    height: 600px;
    background: #12171F;
    
}

.nikered {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px; 
}

.nikered-sub img{    
    width: 600px;
    height: 100%;
    border-radius: none;    
    
}



.nikered-titulo h1 {
    display: flex;
    font-size: 3rem;
    margin: 20px;
    text-transform: uppercase;
    flex-wrap: wrap;
    color: white;
    
}

.nikered-titulo p {
    margin: 20px;
    color: white;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.nikered-titulo button {
    display: flex;
    font-size: 1rem;
    margin: 10px;
    border: none;
    background: white;
    border-radius: 5px;
    
}

.nikered-titulo button a {
    padding: 10px 20px;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.nikered-titulo button:hover {
    background: #3f3f3f;
}

@media (max-width: 1200px) {
    .nike-bg {
    height: 100%;    
    }
    .nikered {
    display: flex;
    margin: 0 auto;
    }

    .nikered-titulo h1 {
    font-size: 2.5rem;
    }

    .nikered-titulo p {
        font-size: 1.3rem;
    }

    .nikered-sub img{    
    width: 500px;
    height: 100%;
       
    }
}

@media (max-width: 1000px) {
    .nike-bg {
    height: 100%;    
    }

    .nikered {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .nikered-sub img{    
    width: 500px;        
    
    }
    

}



@media (max-width: 600px) {
    .nike-bg {
    height: 100%;    
    }

    .nikered {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .nikered-titulo h1 {
    font-size: 2.1rem;
    }

    .nikered-titulo p {
        font-size: 1.2rem;
    }

    .nikered-sub img{    
    width: 95vw;        
    }

}

@media (max-width: 400px) {
    .nike-bg {
    height: 100%;    
    }

    .nikered {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }

    .nikered-titulo h1 {
    font-size: 1.8rem;
    }

    .nikered-titulo p {
        font-size: 1.1rem;
    }

    .nikered-sub img{    
    width: 100vw;  
    }

}

.main3-bg {
    max-width: 100%;
}

.main3 {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    padding: 10px 0px;
}

@media (max-width: 700px) {
    .img3-4 {
        display: none;
    }
}

.main4 {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0px;
}

.jordan {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 15px;
    text-transform: uppercase;
   
}

.jordan h1 {
    background: #111111;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.menu-img {
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.main4 img{
    display: flex;
    width: 290px;
    margin: 0 auto;
    
}

.menu-imgsub {
    font-weight: lighter;
    color: #111111;
    padding: 10px 10px 10px 0px;
}

.menu-img button {
    margin: 10px 10px 20px 0px;
    border: none;
    padding: 7px;
    background: #111111;
    border-radius: 2px;
}

.menu-img button a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.89rem;
}

.menu-img button:hover {
    background: black;
}

.tenis-nike {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}

.tenis-nike h1 {
    background: #111111;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

@media (max-width: 1220px) {
    .menu-img {
        display: grid;
        grid-template-columns: 1fr 1fr;        
       
    }
    .main4 img {
        width: 350px;
        margin: 0 auto;
        font-size: 0.89rem;
    }    
}

@media (max-width: 800px) {
    .menu-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
    

    .main4 img {
        width: 280px;
        margin: 0 auto;
        font-size: 1rem;
        
    }
    
}

@media (max-width:600px) {
    .main4 img {
        display: flex;
        width: 200px;
        margin: 0 auto;
        font-size: 0.89rem;
        
        
    }

    .menu-img {
        gap: 5px;
    }    
      
}

@media (max-width:400px) {
    .main4 img {
        display: flex;
        width: 170px;
        margin: 0 auto;
    }  

    .main4 h3 {
        font-size: 1rem;
    }

    .main4 p {
        font-size: 0.90rem;
    }
    .menu-img {
        gap: 5px;
    }    

    .menu-img button {
        padding: 4px;
    }
   
}



.footer-bg {
    display: flex;
    width: 100%;
    height: 150px;
    background: #111111;  
}

.footer-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 1200px;
    margin: 0 auto;
    color: white;
}

.footer-menu li { 
    margin-bottom: 10px;
}

.footer-menu2 li {  
    margin-bottom: 10px;
}


.footer-sub a {
    color: white;
}

@media (max-width: 800px) {
    .footer-sub {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-menu li { 
        margin-bottom: 10px;
    }

    .footer-menu2 li {  
        margin-bottom: 10px;
    }
}